# Exploratory Data Analysis : Iphone SE reviews

## Load the dataset

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data/APPLE_iPhone_SE.csv')

In [3]:
df.head()

   Ratings         Comment                                            Reviews
0        5          Super!  Great camera for pics and videos Battery life ...
1        5       Must buy!  Great device. Let me tell the Pros..1. Superb ...
2        5   Great product  Who all loves older size i.e., 4.7 inch type s...
3        5  Simply awesome  This iPhone SE is the best phone ever you get....
4        5  Classy product  This is my second iphone after iphone 4s. I’ve...

In [8]:
df.shape

(9713, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9713 entries, 0 to 9712
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ratings  9713 non-null   int64
 1   Comment  9713 non-null   object
 2   Reviews  9713 non-null   object
dtypes: int64(1), object(2)
memory usage: 227.8+ KB

In [9]:
df.isnull().sum()

Ratings    0
Comment    0
Reviews    0
dtype: int64

In [11]:
df['Ratings'].value_counts()

5    6788
4    1717
3     535
1     474
2     199
Name: Ratings, dtype: int64